.graph-container {
    display: flex;
}

svg {
    background-color: white;
}

#tooltip {
    visibility: hidden;
    position: absolute;
    opacity: 0.8;
    padding: 10px;
    vertical-align: middle;
    border-radius: 5px;
    background-color: #ecf0f1;
    font-size: 14px;
}

#legend {
    opacity: 0.2;
    fill: white;
}

#title {
    text-anchor: middle;
    font-size: 22px;
}

.label {
    text-anchor: middle;
}