.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #002D72;
    padding: 10px;
    position: sticky;
    height: 110px;
    box-shadow: rgba(230, 222, 222, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.left-section {
    margin-left: 30px;
}

.middle-section {
    width: 100%;
    text-align: center;
}

.right-section {
    display: flex;
    flex-direction: row;
    width: 140px;
    margin-right: 30px;
}

.mlb-logo {
    height: 60px;
}

.social-logo {
    height: 40px;
    margin: 0 10px;
}

.header-title {
    font-size: 28px;
    padding: 10px 10px;
    text-decoration: underline;
}

.header-title-sub {
    font-size: 22px;
    font-style: italic;
}

.header-title,
.header-title-sub {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}