.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #002D72;
    padding: 10px;
    margin-bottom: 32px;
    position: sticky;
    box-shadow: var(--shadow-2);
}

.middle-section {
    width: 100%;
    text-align: center;
}

.right-section {
    display: flex;
    flex-direction: row;
    width: 140px;
}

.mlb-logo {
    height: 60px;
}

.social-logo {
    height: 40px;
    border-radius: 20px;
    margin: 0 10px;
}

.header-title,
.header-title-sub {
    font-family: roboto, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}