.player-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}
.player-section {
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.player-name {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 28px;
    color: white;
    margin-bottom: 12px;
}

.headshot {
    height: 200px;
    margin: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 16px;
}

.bio-text {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 12px;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear{
    opacity: 1;
}

.anim {
    opacity: 0;
}

@keyframes anim1 {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 50px;
    padding-left: 20px;
    text-align: center;
}

.checkbox-label {
    margin-bottom: 10px;
}


