.player-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 125px;
}
.player-bio-area {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.player-name {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 28px;
    color: black;
}

.headshot {
    height: 200px;
    margin: 12px;
}

.bio-text {
    color: black;
    text-align: center;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear{
    opacity: 1;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 50px;
    padding-left: 20px;
    text-align: center;
}

.checkbox-label {
    margin-bottom: 10px;
}


