@import url(styles/reset.css);
@import url(styles/header.scss);
@import url(styles/graph.scss);
@import url(styles/section.scss);
@import url(styles/scroller.scss);
@import url(styles/modal.scss);
@import "https://unpkg.com/open-props";

body {
    background-color: #28282B;
}

#page-content {
    display: none;
}

#landing-page-img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.player-container {
    background-color: #28282B;
}

.checkbox-container {
    background-color: #28282B;
}

.inputGroup {
    background: #28282B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
}

.checkbox-label {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 8px;
}

input[type="checkbox"].player{
    font-size: 20px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 3em;
    height: 1.5em;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    }
    
    input[type="checkbox"].player.home_run:checked{
    background: blue;
    }
    input[type="checkbox"].player.triple:checked{
    background: green;
    }
    input[type="checkbox"].player.double:checked{
    background: yellow;
    }
    input[type="checkbox"].player.single:checked{
    background: red;
    }
    
    input[type="checkbox"].player:after{
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
            box-shadow: 0 0 .25em rgba(0,0,0,.3);
    -webkit-transform: scale(.7);
            transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    }
    
    input[type="checkbox"].player:checked:after{
    left: calc(100% - 1.5em);
    }

$color: white;  

.info {
    display: inline-block;
    padding: .50rem 1rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 50%;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: greenyellow;
        transition: all .3s;
        border-radius: 50%;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
        width: 100%;
        }
    }
}

#sticky-info-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
}

/* Enter Site Button */
/* CSS */
#start {
    position: fixed;
    top: 30px;
    left: 45%;
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(186, 197, 191, 0.15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 60px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

#start:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

#start:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

#start:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
    