@import url(styles/reset.css);
@import url(styles/header.scss);
@import url(styles/graph.scss);
@import url(styles/section.scss);
@import url(styles/scroller.scss);
@import "https://unpkg.com/open-props";

#new-viewable-area {
    width: 100%;
}

#viewable-area {
    width: 100%;
    height: 100%;
    margin-left: auto;
    display: inline-block;
    padding-right: 15px;
    box-sizing: border-box;
}